.tab-pane{
    -fx-pref-width: 600;
    -fx-pref-height: 800;
}

.tab-pane .tab:selected {
	-fx-background-color: #CCCCCC;
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 0 0 0 0;
}

.tab *.tab-label {
    -fx-rotate: 90;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
}

#mapTab {
    -fx-padding: 3em 1.5em 3em 1.5em;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
 	-fx-border-width: 0;
	-fx-border-insets: 0 0 0 0;
	-fx-border-radius: 0;
}


